@model StudyWeb.Models.Comment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Bình luận</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idComment)
        </dd>

        <dt>
            Nội dung bình luận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contentComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageComment1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageComment1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageComment2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageComment2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageComment3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageComment3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageComment4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageComment4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.likeComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.likeComment)
        </dd>

        <dt>
            Thời gian bình luận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateComment)
        </dd>

        <dt>
            Hiển thị
        </dt>

        <dd>
            @Html.DisplayFor(model => model.display)
        </dd>

        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.fullname)
        </dd>

        <dt>
            Nội dung bài viết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posts.contentPosts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Danh sách bình luận", "Index")
</p>
