@model StudyWeb.Models.Account

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tài khoản</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <strong>Loại tài khoản</strong>
            <div class="col-md-10">
                @Html.DropDownList("idType", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>Tên</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>Ảnh đại diện</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.imageUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imageUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>Email</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.maill, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.maill, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>Số điện thoại</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>Mật khẩu</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>Trạng thái</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>Hiển thị</strong>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.display)
                    @Html.ValidationMessageFor(model => model.display, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Danh sách tài khoản", "Index")
</div>
