@model StudyWeb.Models.Question

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




@using (Html.BeginForm("Create", "Questions", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="project" class="project">
        <div class="container">
            <div class="card" style="background: rgba(0,0,0,0.5); min-height: 200px;">
                <div class="card-header" style="background: rgba(0,0,0,0.5); ">
                    <div class="row">
                        <h1 style="color: white; margin-left: 30px">Thêm câu hỏi</h1>
                    </div>
                </div>
                <div class="card-body">
                    <br />
                    <div class="row">
                        <div class="col-md-2" style="text-align: right">
                            <h4 style="color:white">Tên bài kiểm tra :</h4>
                        </div>
                        <div class="col-md-9" style="text-align: center">
                            @Html.DropDownList("idTest", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idTest, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <!--
                    <div class="row">
                        <div class="col-md-2" style="text-align: right">
                            <h4 style="color:white">Ảnh câu hỏi :</h4>
                        </div>
                        <div class="col-md-9" style="text-align: left">
                            <input style="color: white; margin-right: 20px" type='file' name="fileUpload" />
                        </div>
                    </div>
                    <br />
                        -->
                    <div class="row">
                        <div class="col-md-2" style="text-align: right">
                            <h4 style="color:white">Câu hỏi :</h4>
                        </div>
                        <div class="col-md-9" style="text-align: center">
                            @Html.EditorFor(model => model.question1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.question1, "", new { @class = "text-danger" })
                        </div>
                        <div style="display: none">
                            @Html.EditorFor(model => model.imageQuestion2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.imageQuestion2, "", new { @class = "text-danger" })

                            @Html.EditorFor(model => model.imageQuestion3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.imageQuestion3, "", new { @class = "text-danger" })

                            @Html.EditorFor(model => model.imageQuestion4, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.imageQuestion4, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2" style="text-align: right">
                            <h4 style="color:white">Câu A :</h4>
                        </div>
                        <div class="col-md-9" style="text-align: center">
                            @Html.EditorFor(model => model.answer1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.answer1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2" style="text-align: right">
                            <h4 style="color:white">Câu B :</h4>
                        </div>
                        <div class="col-md-9" style="text-align: center">
                            @Html.EditorFor(model => model.answer2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.answer2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2" style="text-align: right">
                            <h4 style="color:white">Câu C :</h4>
                        </div>
                        <div class="col-md-9" style="text-align: center">
                            @Html.EditorFor(model => model.answer3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.answer3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2" style="text-align: right">
                            <h4 style="color:white">Câu D :</h4>
                        </div>
                        <div class="col-md-9" style="text-align: center">
                            @Html.EditorFor(model => model.answer4, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.answer4, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2" style="text-align: right">
                            <h4 style="color:white">Câu đúng :</h4>
                        </div>
                        <div class="col-md-9" style="text-align: center">
                            @Html.EditorFor(model => model.correctAnswer, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.correctAnswer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row" style="display: none">
                        <div class="col-md-2" style="text-align: right">
                            <h4 style="color:white">Trả lời đúng :</h4>
                        </div>
                        <div class="col-md-9" style="text-align: center">
                            @Html.EditorFor(model => model.imageAnswer1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.imageAnswer1, "", new { @class = "text-danger" })

                            @Html.EditorFor(model => model.imageAnswer2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.imageAnswer2, "", new { @class = "text-danger" })

                            @Html.EditorFor(model => model.imageAnswer3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.imageAnswer3, "", new { @class = "text-danger" })

                            @Html.EditorFor(model => model.imageAnswer4, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.imageAnswer4, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2" style="text-align: right">
                            <h4 style="color:white">Điểm :</h4>
                        </div>
                        <div class="col-md-9" style="text-align: center">
                            @Html.EditorFor(model => model.score, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.score, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2" style="text-align: right">
                            <h4 style="color:white">Hiển thị :</h4>
                        </div>
                        <div class="col-md-9" style="text-align: center">
                            @Html.EditorFor(model => model.display)
                            @Html.ValidationMessageFor(model => model.display, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                </div>
                <div class="card-footer" style="text-align: right; height: 60px">
                    <button type="submit" class="add_posts" style="padding: 5px; padding-right: 10px; padding-left: 10px; margin-right: 30px; background-color: white; color: black">Tạo</button>
                </div>
            </div>
        </div>
    </div>
}



<style>

    .list-box {
        height: 35px;
        width: 100%;
    }

    .btn_a {
        color: white;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgba(0,0,0,0.5);
        border-radius: 8px;
        margin-right: 20px
    }

        .btn_a:hover {
            background: white;
            color: dodgerblue;
        }

    .css_card-body {
        color: white;
    }

    .card-footer {
        height: 50px;
    }

        .card-footer input {
            color: white;
        }

        .card-footer img:hover {
            height: 32px;
            width: 32px;
        }

    add_posts:hover {
        background-color: forestgreen;
        color: white;
    }

    img {
        max-height: 440px;
        max-width: 540px;
    }

    .copyright {
        margin-top: 0;
    }
</style>

























@*<h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Question</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.idTest, "idTest", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idTest", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idTest, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.question1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.question1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.question1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.imageQuestion1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.imageQuestion1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.imageQuestion1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.imageQuestion2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.imageQuestion2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.imageQuestion2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.imageQuestion3, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.imageQuestion3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.imageQuestion3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.imageQuestion4, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.imageQuestion4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.imageQuestion4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.answer1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.answer1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.answer1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.answer2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.answer2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.answer2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.answer3, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.answer3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.answer3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.answer4, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.answer4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.answer4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.correctAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.correctAnswer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.correctAnswer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.imageAnswer1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.imageAnswer1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.imageAnswer1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.imageAnswer2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.imageAnswer2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.imageAnswer2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.imageAnswer3, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.imageAnswer3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.imageAnswer3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.imageAnswer4, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.imageAnswer4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.imageAnswer4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.score, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.score, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.score, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.display, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.display)
                        @Html.ValidationMessageFor(model => model.display, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
