@model StudyWeb.Models.Contacts

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header" style="background-color: aqua;">
        <div class="row">
            <strong class="text-uppercase">Xóa liên hệ</strong>
        </div>
    </div>
</div>

<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <h4>Contacts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateSend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateSend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
